<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Library Homework</title>
    <link rel="stylesheet" href="styles.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
</head>
<body>
<h1 >Book Library</h1>
<div id="app">
    <form v-on:submit.prevent="addBook">
        <h2 style="margin-right: 60px;">Add Book to the List</h2>

        <p>
            Book Name<br>
            <input type="text" required placeholder="type book name here.." v-model="bookName" class="book-input">
        </p>
        <p>
            Author Name<br>
            <input type="text" placeholder="type author name here.." v-model="bookAuthor" class="book-input">
        </p>
        <p>
            Cover URL<br>
            <input type="url" placeholder="type cover URL here.." v-model="bookCover" class="book-input">
        </p>
        <button type="submit">Add Book</button>
    </form>

    <div style="margin-left: auto; width: 50%;"> 
        <h2>Book list:</h2>
        <ul>
            <li v-for="(book, index) in bookList" class="book-item">
                <img :src="book.cover" alt="Book Cover">
                {{ book.name }}, {{ book.author }}
                <button v-on:click="removeBook(index)">Remove</button>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
