<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Authentication</title>
    <link rel="stylesheet" href="styles.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
</head>
<body>
    <div id="app">
        <div class="wrapper" v-if="!loggedInUsername"> 
            <form @submit.prevent="login"> 
                <h1>LOG IN</h1>
                <div class="input-box">
                    <i class='bx bx-user' ></i>  <!--username icon from https://boxicons.com/?query=-->
                    <input type="text" placeholder="Username" v-model="username"> <!-- Bind input to username -->
                </div>
                <div class="input-box">
                    <i class='bx bx-lock' ></i>  <!--password icon from https://boxicons.com/?query=-->
                    <input type="password" placeholder="Password" v-model="password"> <!-- Bind input to password -->
                </div>
                <button type="submit" class="btn">LOG IN</button>
                <div class="error" v-if="errorMessage">{{ errorMessage }}</div> 
            </form>
        </div>
        <div class="welcome" v-else>
            <h1>Welcome, {{ loggedInUsername }}</h1>
        </div>
    </div>
</body>
</html>
